.toast {
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
    line-height: 30px;
    width: 350px;
    transform: translateX(calc(100% + 30px));
    font-size: 1.5rem;
  }
  
  @keyframes slideToLeft {
    from {
      transform: translateX(calc(100% + 30px));
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes outSlide {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  .toast + .toast {
    margin-top: 40px;
  }
  
  .toast.--success {
    padding: 1rem 0.5rem;
    border-left: 2px solid yellowgreen;
    box-shadow: 0 5px 8px rgb(211, 247, 138);
  }
  
  .toast.--error {
    padding: 1rem;
    border-left: 2px solid rgb(161, 0, 0);
    box-shadow: 0 5px 8px rgb(161, 0, 0);
  }
  
  .toast.--warning {
    padding: 1rem;
    border-left: 2px solid rgb(255, 217, 3);
    box-shadow: 0 5px 8px rgb(255, 217, 3);
  }
  
  .toast.--info {
    padding: 1rem;
    border-left: 2px solid rgb(0, 4, 255);
    box-shadow: 0 5px 8px rgb(0, 4, 255);
  }
  
  /* icon */
  .toast.--success .toast__icon {
    color: yellowgreen;
  }
  
  .toast.--warning .toast__icon {
    color: rgb(255, 217, 3);
  }
  
  .toast.--error .toast__icon {
    color: rgb(161, 0, 0);
  }
  
  .toast.--info .toast__icon {
    color: rgb(0, 4, 255);
  }
  
  .toast__body {
    min-width: 200px;
  }