.details {
    height: 550px;
    width: 950px;
}

.sub-container {
    width: 100%;
    padding: 10px;
}

.sub-container.list-product {
    height: 58%;
    overflow: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sub-container.info-order {
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #333;
    /* height: 42%; */
    background-color: rgb(241, 241, 241);
}

#title-info-order {
    font-size: 1.8rem;
    font-weight: bold;
    color: #ffa808;
    padding-bottom: 10px;
}

#content-info-order {
    padding: 0px 20px;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-transform: capitalize;
    color: rgb(89, 83, 83);
    font-weight: bold;
}

#content-info-order div span {
    font-weight: normal;
}