.user-account {
  position: relative;
  top: 110px;
  width: 1100px;
  height: fit-content;
  margin: auto;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.16) 5px 5px 8px 0px;
  border-radius: 5px;
}

.info-user-form {
  display: grid;
  grid-template-columns: 50% 50%;
}

.info-field-account {
  padding: 10px 20px;
}

.title-form_account {
  color: rgb(9, 86, 186);
  font-size: 24px;
  margin-bottom: 10px;
}

.title-form_account.sub {
  font-size: 1.6rem;
  color: #888;
}

.title-form_account.sub span {
  cursor: pointer;
}

.info-field-account:not(.gender) label,
#check-sex {
  display: inline-block;
  min-width: 150px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 1.5rem;
}

.gender {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}

.info-user-form input[type="text"],
.info-user-form input[type="number"],
.info-user-form input[type="email"],
.info-user-form input[type="password"],
.info-user-form input[type="date"] {
  outline: none;
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#submit-pass-account,
#submit-info-account {
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  width: 30%;
  padding: 8px 0px;
  border-radius: 5px;
  border: none;
  background-color: rgb(9, 86, 186);
  margin: 10px auto;
  transition: scale 0.2s ease;
}

#submit-info-account:hover {
  scale: 1.02;
}

#submit-info-account:active {
  scale: 0.98;
}

.title-form_account.sub .active {
  color: red;
}
