.body__container {
    display: flex;

    .detail__container {
        flex: 1;
        padding: 10px 30px 20px;
        margin-left: 182px;

        .detail__title{
            margin: 10px 0;
            text-transform: uppercase;
            font-size: 25px;
            font-weight: 600;
        }
        
        >div:first-of-type {
            display: flex;
            justify-content: space-between;
            font-weight: 600;
            font-size: 30px;
            margin-bottom: 10px;

            .detail__edit-icon {
                font-size: 20px;
                cursor: pointer;

                &:hover {
                    color: var(--orange-cl);
                }
            }
        }

        .detail__content-other,
        .detail__content {
            position: relative;
            padding: 20px;
            display: grid;
            grid-template-columns: 50% 50%;
            width: 100%;
            background-color: var(--white-cl);

            select {
                max-width: 100%;
                font-size: 18px;
            }
            button{
                padding: 10px 30px;
                color: var(--white-cl);
                border: none;
                font-size: 17px;
                background-color: var(--green-cl);
                border-radius: 5px;
                outline: none;
            }

            .detail__avatar-box {
                padding: 5% 15%;
                border-right: 2px solid var(--gray-black-cl);

                img {
                    width: 100%;
                    border-radius: 50%;
                    margin-bottom: 15px;
                }

                #save-avatar-btn {
                    cursor: pointer;
                    color: var(--white-cl);
                    background-color: var(--green-cl);
                    margin-top: 10px;
                    display: none;
                    padding: 5% 10%;
                    border-radius: 15px;
                    width: 100%;
                    outline: none;
                    border: none;
                }

                .select_avatar {
                    display: none;
                    position: relative;
                    overflow: hidden;

                    input[type='file'] {
                        position: absolute;
                        left: 0;
                        top: 0;
                        opacity: 0;
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                    }

                    .button_change {
                        border: none;
                        background-color: var(--blue-white-cl);
                        color: var(--white-cl);
                        padding: 5% 10%;
                        border-radius: 15px;
                        width: 100%;
                    }
                }
            }

            .detail__edit-icon {
                font-size: 25px;
                color: var(--blue-cl);
                cursor: pointer;

                &:hover {
                    color: var(--orange-cl);
                }
            }

            .detail__info {
                display: flex;
                flex-direction: column;
                gap: 35px;
                margin-left: 10px;
                color: var(--black-cl);

                .detail__info-box {
                    display: flex;
                    position: relative;

                    table{
                        margin-top: 5px;
                        width: 100%;
                        border-collapse: collapse;

                        th,td{
                            font-size: 18px;
                            text-align: center;
                            border: 1px solid var(--black-cl);
                        }

                        th{
                            color: var(--white-cl);
                            background-color: var(--blue-white-cl);
                            padding: 10px 5px;
                        }
                        td{
                            padding: 5px;
                        }

                        .list__hidden-text{
                            display: -webkit-box;
                            overflow: hidden;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                            margin: 0;
                            word-break: break-word;
                        }
                    }
                    label {
                        padding: 5px;
                        font-size: 20px;
                        font-weight: 600;
                        width: 240px;
                    }

                    input {
                        background-color: transparent;
                        font-size: 20px;
                        padding: 5px 0;
                        flex: 1;
                        border: 0;
                        outline: none;
                    }

                    small {
                        color: var(--red-cl);
                        position: absolute;
                        top: 40px;
                        left: 240px;
                    }
                }

                .detail__hidden {
                    display: none;
                }
            }

            .detail__edit-save-btn {
                display: flex;
                justify-content: flex-end;

                .edit-save-other-btn,
                .edit-save-btn {
                    color: var(--white-cl);
                    background-color: var(--blue-white-cl);
                    outline: 0;
                    border: 0;
                    padding: 10px 25px;
                    width: 200px;
                    cursor: pointer;
                    border-radius: 8px;

                    &:hover {
                        background-color: var(--blue-cl);
                    }
                }
            }


        }

        .detail__content-other {
            display: flex;

            .detail__info {
                flex: 1;

                textarea {
                    font-size: 17px;
                    width: 100%;
                    padding: 5px;
                    margin-left: 45px;
                    resize: none;
                }

                select {
                    max-width: 100%;
                    font-size: 18px;
                }

            }

            .edit-save-other-btn {
                display: block !important;
            }
        }
    }
}